.card{
margin-top: 10% !important;

width: fit-content;
}
ul{
    display: flex;
}
ul li {
    list-style: none;

    color: white;
    margin: 0 12px;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}

ul li span {
    border-radius: 5px;
    background-color: rgb(254, 254, 254);
    text-align: center;
    display: block;
    color: #084590;
    font-size: 20px;
    margin-bottom: 8px;


}

p {
    color: white;
}

input {
    color: white !important;
}

@media screen and (max-width:690px) {
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
align-items: center;

    }
    .card{
        width:auto;
    }
    span{
        margin: 5px;
        width: 125px;
    }
}